* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    main {
        width: 746px;
        padding-top: 70px;
        padding-left: 68px;
        .header {
            display: flex;
            margin-bottom: 63px;
            .headerImg {
                img {
                    width: 260px;
                    border-radius: 100%;
                    box-shadow: 0 0 7px #666;
                }
            }
            .headerInfo {
                margin-left: 44px;
                color: #666666;
                .nameNposition {
                    font-family: 'Roboto', sans-serif;
                    text-transform: uppercase;
                    align-items: center;
                    h1 {
                        font-size: 38px;
                        margin-top: 9px;
                        margin-bottom: 0;
                        letter-spacing: -1.5px;
                        .firstName {
                            color: #42489E;
                            font-weight: 900;
                        }
                        .lastName {
                            font-weight: 300;
                        }
                    }
                    h2 {
                        font-weight: 400;
                        font-size: 16px;
                        letter-spacing: 1px;
                    }
                    
                }
            }
            
            .contacts {
                list-style-type: none;
                margin-top: 43px;
                padding-left: 0;
                font-weight: 400;
                letter-spacing: 1px;
                li {
                    margin-bottom: 8px;
                    a {
                        text-decoration: none;
                        color: inherit;
                        padding-left: 26px;
                    }
                    .tel, .mail, .workPlace, .geoloc {
                        position: relative;
                    }
                    .tel::before {
                        content: "";
                        position: absolute;
                        background: url(../img/tel.svg) no-repeat 0 center;
                        background-size: contain;
                        width: 16px;
                        height: 17px;
                        top: 1px;
                        left: 1px;
                    }
                    .mail::before {
                        content: "";
                        position: absolute;
                        background: url(../img/mail.svg) no-repeat 0 center;
                        background-size: contain;
                        width: 20px;
                        height: 16px;
                        top: 1px;
                        left: -1px;
                    }
                    .workPlace::before {
                        content: "";
                        position: absolute;
                        background: url(../img/workadrs.svg) no-repeat 0 center;
                        background-size: contain;
                        width: 12px;
                        height: 17px;
                        top: 1px;
                        left: 2px;
                    }
                    .geoloc::before {
                        content: "";
                        position: absolute;
                        background: url(../img/geoloc.svg) no-repeat 0 center;
                        background-size: contain;
                        width: 11px;
                        height: 17px;
                        top: 1px;
                        left: 3px;
                    }
                }
            }
        }
        .mainSections {
            margin-left: 92px;
            margin-right: 50px;
            h3 {
                margin-left: 11px;
                color: #42489E;
                font-size: 22px;
                font-weight: 700;
            }
        }
    }
    aside {
        width: 450px;
        background: linear-gradient(180deg, #6D5DA8 0%, #43479E 100%);
        padding: 100px;
        h3 {
            color: #FFFFFF;
            font-size: 22px;
            font-weight: 700;
        }
    }
}
