* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.container main {
  width: 746px;
  padding-top: 70px;
  padding-left: 68px;
}
.container main .header {
  display: flex;
  margin-bottom: 63px;
}
.container main .header .headerImg img {
  width: 260px;
  border-radius: 100%;
  box-shadow: 0 0 7px #666;
}
.container main .header .headerInfo {
  margin-left: 44px;
  color: #666666;
}
.container main .header .headerInfo .nameNposition {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  align-items: center;
}
.container main .header .headerInfo .nameNposition h1 {
  font-size: 38px;
  margin-top: 9px;
  margin-bottom: 0;
  letter-spacing: -1.5px;
}
.container main .header .headerInfo .nameNposition h1 .firstName {
  color: #42489E;
  font-weight: 900;
}
.container main .header .headerInfo .nameNposition h1 .lastName {
  font-weight: 300;
}
.container main .header .headerInfo .nameNposition h2 {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}
.container main .header .contacts {
  list-style-type: none;
  margin-top: 43px;
  padding-left: 0;
  font-weight: 400;
  letter-spacing: 1px;
}
.container main .header .contacts li {
  margin-bottom: 8px;
}
.container main .header .contacts li a {
  text-decoration: none;
  color: inherit;
  padding-left: 26px;
}
.container main .header .contacts li .tel,
.container main .header .contacts li .mail,
.container main .header .contacts li .workPlace,
.container main .header .contacts li .geoloc {
  position: relative;
}
.container main .header .contacts li .tel::before {
  content: "";
  position: absolute;
  background: url(../img/tel.svg) no-repeat 0 center;
  background-size: contain;
  width: 16px;
  height: 17px;
  top: 1px;
  left: 1px;
}
.container main .header .contacts li .mail::before {
  content: "";
  position: absolute;
  background: url(../img/mail.svg) no-repeat 0 center;
  background-size: contain;
  width: 20px;
  height: 16px;
  top: 1px;
  left: -1px;
}
.container main .header .contacts li .workPlace::before {
  content: "";
  position: absolute;
  background: url(../img/workadrs.svg) no-repeat 0 center;
  background-size: contain;
  width: 12px;
  height: 17px;
  top: 1px;
  left: 2px;
}
.container main .header .contacts li .geoloc::before {
  content: "";
  position: absolute;
  background: url(../img/geoloc.svg) no-repeat 0 center;
  background-size: contain;
  width: 11px;
  height: 17px;
  top: 1px;
  left: 3px;
}
.container main .mainSections {
  margin-left: 92px;
  margin-right: 50px;
}
.container main .mainSections h3 {
  margin-left: 11px;
  color: #42489E;
  font-size: 22px;
  font-weight: 700;
}
.container aside {
  width: 450px;
  background: linear-gradient(180deg, #6D5DA8 0%, #43479E 100%);
  padding: 100px;
}
.container aside h3 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
}
